body {
    font-family: 'Arial', sans-serif;
  }
  
  .navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .table {
    border-radius: 10px;
    overflow: hidden;
  }
  
  .modal-header {
    border-bottom: 2px solid #ddd;
  }
  
  button {
    border-radius: 8px;
    font-size: 0.9rem;
  }
  .custom-header {
    background-color: #f3c6d5 !important; 
  }

  .table th:hover {
    background-color: #f3c6d5 !important;
  }